body{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color:#434718;
}

h1{
    color:#383f1e;
}

#wrap{
    max-width:900px;
}

nav{
    background-color:#383f1e;
}

footer{
    background-color:#383f1e;
}

ul{
    list-style: none;
    padding-left: 0px;
}

ul li a{
    text-decoration:none;
    color:inherit;
}

ul li a:hover{
    font-weight: bolder;
    font-size: 1.1rem;
}